{
  "branches": [
    "master"
  ],
  "debug": true,
  "ci": true,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "dist/*.tgz",
        "pkgRoot": "dist",
        "assets": "dist/*.tgz"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": "dist/*.tgz"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "echo ::set-output name=nextVer::${nextRelease.version}"
      }
    ]
  ],
  "npmPublish": true
}
